extends layout

block content
  h1= title
  p Welcome to #{title}
  p asdasd
  p
    a(href="/logout") Log out!

  div(ng-controller="AppCtrl")
    {{title}}

  div(ng-controller="FunCtrl")
    {{fun}}
