extends layout

block content
  h1 Login
  p Welcome to #{title}
  p Login



  form(action="/login", method="post")
    fieldset
        label Email:
        input(type="text", name="email")
    fieldset
        label Password:
        input(type="password", name="password")
    fieldset
        button(type="submit") Sign In!
